:root {
  --primary-font: 'Roboto', sans-serif;
  --navyblue: #2e2f42;
  --white: #ffffff;
  --iris: #4d5ae5;
  --slate: #434455;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  text-decoration: none;
  background-color: var(--white);
}

/* Header */
.page-header {
}

.container {
}

.page-nav {
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.link {
  text-decoration: none;
}

.logo-item {
  color: var(--navyblue);
}

.page-nav .list {
  list-style: none;
}

.list .item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.list .item:hover,
.list .item:focus {
  color: var(--ocean);
}

.header-address {
  font-style: normal;
}

.header-address .list {
  list-style: none;
}

.list .mail-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.list .mail-tel:hover,
.list .mail-tel:focus {
  color: var(--ocean);
}

/* Section 1 */

.primary-section {
  background-color: var(--navyblue);
}

.container .primary-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.primary-button {
  background-color: var(--iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--ocean);
}

/* Section 2 */

.second-section {
}

.container {
}

.second-title {
}

.list {
  list-style: none;
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Section 3 */

.third-section {
}

.container {
}

.third-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
}

.list {
  list-style: none;
}

/* Section 4 */

.fourth-section {
  background-color: var(--cloud);
}

.container {
}

.fourth-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
}

.list {
  list-style: none;
}

.fourth-list {
  background-color: var(--white);
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Footer */

.page-footer {
  background-color: var(--navyblue);
}

.container .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.link {
  text-decoration: none;
}

.page-footer .logo-item {
  color: var(--cloud);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

/* Portfolio */

.portfolio-section {
}

.container {
}

.portfolio-title {
}

.list {
  list-style: none;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.link {
  text-decoration: none;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.portfolio-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
